// https://github.com/hakimel/reveal.js/blob/master/css/theme/README.md
@import "reveal.js/css/reveal";

// Default mixins and settings -----------------
@import "reveal.js/css/theme/template/mixins";
@import "reveal.js/css/theme/template/settings";
// ---------------------------------------------

$ugent_wit: #ffffff;
$ugent_zwart: #000000;
$ugent_blauw: #1e64c8;
$ugent_geel: #ffd200;
$ugent_oranje: #f1a42b;
$ugent_rood: #dc4e28;
$ugent_aqua: #2d8ca8;
$ugent_roze: #e85e71;
$ugent_hemelsblauw: #8bbee8;
$ugent_lichtgroen: #aeb050;
$ugent_paars: #825491;
$ugent_warmoranje: #fb7e3a;
$ugent_turquoise: #27abad;
$ugent_lichtpaars: #be5190;
$ugent_groen: #71a860;

// https://github.com/hakimel/reveal.js/blob/master/css/theme/template/settings.scss

// Background of the presentation
$backgroundColor: $ugent_wit;

// Primary/body text
$mainFont: "Lato", sans-serif;
$mainFontSize: 28px;
$mainColor: $ugent_zwart;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: "League Gothic", Impact, sans-serif;
$headingColor: $ugent_blauw;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 2.8em;
$heading2Size: 2.1em;
$heading3Size: 1.55em;
$heading4Size: 1em;

$codeFont: monospace;

// Links and actions
$linkColor: $ugent_geel;
$linkColorHover: lighten($linkColor, 20%);

// Text selection
$selectionBackgroundColor: lighten($ugent_blauw, 30%);
$selectionColor: inherit;

// Change text colors against dark slide backgrounds
// @include light-bg-text-color(#222);

// Theme template ------------------------------
@import "reveal.js/css/theme//template/theme";
// ---------------------------------------------

section:not(.stack) {
  box-sizing: border-box;
  padding: 20px 100px 20px 20px;
  position: relative;
  text-align: left;
}

.cite {
  display: inline-block;

  &:before {
    content: "[";
  }
  &:after {
    content: "]";
  }
}

.ref-to-text {
  margin: -0.8em 0 0.8em 0;
  font-size: 0.8em;
  color: lighten($ugent_zwart, 60%);
}

@counter-style reference {
  system: numeric;
  symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
  suffix: "] ";
  prefix: "[";
}

ol.references {
  color: lighten($ugent_zwart, 60%);
  font-size: 50%;
  position: absolute;
  bottom: 20px;
  right: 100px;
  left: 20px;
  list-style: reference;
}

.reveal.slide {
  .slides:before {
    position: absolute;

    content: " ";
    display: block;
    width: var(--slide-height);
    height: var(--slide-width);
    transform: matrix(0, 1, 1, 0, 0, 0);
    transform-origin: 0% 0%;
    background-image: url("./assets/background.svg");
    background-position: 0% 98%;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
    transition: opacity 500ms;
  }

  &:has(.slides .title-slide.present) .slides:before {
    opacity: 1;
  }
}

.reveal img {
  margin: 0;
}

section.title-slide {
  text-align: center;
  position: relative;

  h2 {
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 70px;
  }

  h1 {
    font-size: 2em;
    color: $ugent_zwart;
  }

  .logo {
    margin-top: 20px;
    float: left;
    width: 250px;
  }

  .info {
    text-align: right;
    margin: 70px 70px 0 0;

    .author {
      font-size: 1.2em;
    }

    .promotor {
      margin-top: 20px;
      font-size: 0.8em;
    }
  }
}

.katex-display {
  margin: 0.5em 0 !important;
}

.reveal a.prepared-answers {
  &:before {
    content: "Back to prepared answers";
  }
  font-size: 0.6em;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: lighten($ugent_geel, 20%);
}
