doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Algorithms for time-independent Schrödinger equations - Internal defence
    link(rel="stylesheet", href="primary.scss")
  body
    .reveal
      .slides
        section.title-slide(data-animation="title-slide")
          h1 Algorithms for time-independent <br /> Schrödinger equations

          img.logo(src="./assets/logo_ugent.png", alt="")
          .info
            .author Toon Baeyens
            .promotor
              | prof. dr. Marnix Van Daele
              br
              | prof. dr. Joris Van der Jeugt

        include primary/differential_equations.pug

        include primary/schrödinger1d.pug

    script(src="primary.js", type="module")
