doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Algorithms for time-independent Schrödinger equations - Internal defence
    link(rel="stylesheet", href="primary.scss")
  body
    .reveal
      .slides
        section.title-slide(
          data-animation="title-slide",
          data-animation-state="title"
        )
          h1 Algorithms for time-independent <br /> Schrödinger equations

          img.logo(src="./assets/logo_ugent.png", alt="")
          .info
            .author Toon Baeyens
            .promotor
              | prof. dr. Marnix Van Daele
              br
              | prof. dr. Joris Van der Jeugt

        include primary/differential_equations.pug

        include primary/schrödinger1d.pug

        include primary/strands.pug

        section(data-animation="title-slide", data-animation-state="ending")
          .flex-slide
            h2 Looking back

            .flex-slide-fill(
              style="display: grid; grid-template-columns: 1fr; grid-template-rows: 1fr; text-align: center; align-items: center; justify-items: center; grid-gap: 1em"
            )
              p(style="font-size: 180%") Why?

    script(src="primary.js", type="module")
