doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Algorithms for time-independent Schrödinger equations - Internal defence
    link(rel="stylesheet", href="secondary.scss")
  body
    - var ugent_wit = "#ffffff";
    - var ugent_zwart = "#000000";
    - var ugent_blauw = "#1e64c8";
    - var ugent_geel = "#ffd200";
    - var ugent_oranje = "#f1a42b";
    - var ugent_rood = "#dc4e28";
    - var ugent_aqua = "#2d8ca8";
    - var ugent_roze = "#e85e71";
    - var ugent_hemelsblauw = "#8bbee8";
    - var ugent_lichtgroen = "#aeb050";
    - var ugent_paars = "#825491";
    - var ugent_warmoranje = "#fb7e3a";
    - var ugent_turquoise = "#27abad";
    - var ugent_lichtpaars = "#be5190";
    - var ugent_groen = "#71a860";
    .reveal
      .slides
        section#title-slide
          canvas.full-size
        section#function-example
          .side-by-side
            .item(style="position: relative")
              .plot1d.full-size
              div(style="position: absolute; right: 40px; bottom: 150px")
                | $ f(x) = x^2 $
              div(style="position: absolute; right: 50px; bottom: 80px")
                | $ x $
              div(style="position: absolute; left: 230px; top: 50px")
                | $ f(x) $
            .item(style="position: relative")
              canvas.full-size
              div(style="position: absolute; top: 10px; width: 100%")
                | $$ g(x, y) = xy $$
        section#first-order-examples
          .side-by-side
            .item(style="position: relative")
              .left.full-size
              div(style="position: absolute; top: 0px; width: 100%")
                | $$ \frac{\text{d} f}{\text{d}x} = f(x) $$
            .item(style="position: relative")
              .right.full-size
              div(style="position: absolute; top: 0px; width: 100%")
                | $$ \frac{\text{d}^2 g}{\text{d}x^2} = -g(x) $$
        section#example-pendulum
          .side-by-side
            .item(style="position: relative")
              .left.full-size
            .item(style="position: relative")
              .right.full-size
        section#example-heatequation
          .heated-rod.full-size
        section#sturm-liouville-schrodinger
          .side-by-side
            .item
              img(src="./assets/sturm.jpg")
              p Charles Sturm
                span.life 1803 - 1855
            .item(style="align-self: end")
              img(src="./assets/schrodinger.jpg")
              p Erwin Schrödinger
                span.life 1887 - 1961
            .item
              img(src="./assets/liouville.jpg")
              p Joseph Liouville
                span.life 1809 - 1882
        section#vibrating-string
          .vibrating-string.full-size
        section#vibrating-string-states
          div(style="display:grid; grid-template-columns: 1fr 1fr;")
            .vibrating-string-state-0
            .vibrating-string-state-1
            .vibrating-string-state-2
            .vibrating-string-state-3
        section#fft-cello
          canvas.full-size

    script(src="secondary_slides.js", type="module")
