@import "../node_modules/katex/dist/katex.css";
@import "./theme.scss";

.full-width {
  width: 100% !important;
}

.full-size {
  width: 100% !important;
  height: 100% !important;
}

.slides {
  section {
    width: 100%;
    height: 100%;
  }
}

.side-by-side {
  display: flex;
  height: 100%;
  flex-direction: row;

  & > .item {
    flex: 1;
    height: 100%;
  }
}

#sturm-liouville-schrodinger {
  .side-by-side {
    .item {
      padding: 20px;
      height: auto;
      font-weight: bold;

      img {
        margin: 0 0 20px 0;
        max-width: 220px;
        max-height: 320px;
      }

      p {
        margin: 0;
      }

      .life {
        display: block;
        font-weight: normal;
      }
    }
  }
}

.vbs-multi {
  position: absolute;
}