@import "../node_modules/katex/dist/katex.css";
@import "./theme.scss";

.full-width {
  width: 100% !important;
}

.full-size {
  width: 100% !important;
  height: 100% !important;
}

.slides {
  section {
    width: 100%;
    height: 100%;
  }
}

.side-by-side {
  display: flex;
  height: 100%;
  flex-direction: row;

  & > .item {
    flex: 1;
    height: 100%;
  }
}
