doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Algorithms for time-independent Schrödinger equations - Defence invite
    link(rel="stylesheet", href="style.scss")
  body
    .invite-container
      #invite.invite
        h1.title Algorithms for time-independent Schrödinger equations
        .detailed-info
          p.date June 30<sup>th</sup> 2023, 16:00
          p.location Campus Sterre, S9<br />auditorium A2
        .description
          p
            | With much pleasure I invite you to my PhD defence, followed by a reception.
          p
            | To help me estimate the number of attendees,
            | please register at #[a(href="https://toonijn.be/thesis/register") toonijn.be/thesis/register]
          .author Toon Baeyens
        .affiliation
          p.department Department of Applied Mathematics,<br />Computer Science and Statistics
          p.faculty Faculty of Sciences
        img.logo(src="./assets/logo_ugent.png")

  script(src="script.js")
