doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Algorithms for time-independent Schrödinger equations - Defence invite
    link(rel="stylesheet", href="style.scss")
  body
    .invite-container
      .invite
        h1.title Algorithms for time-independent Schrödinger equations
        p.description Met veel plezier mag ik u uitnodigen op 
        p.author Toon Baeyens
        .detailed-info
          p.location Gent, Campus Sterre, S9, Auditorium A2
          p.date 30 juni 2023, 16:00