$ugent_wit: #ffffff;
$ugent_zwart: #000000;
$ugent_blauw: #1e64c8;
$ugent_geel: #ffd200;
$ugent_oranje: #f1a42b;
$ugent_rood: #dc4e28;
$ugent_aqua: #2d8ca8;
$ugent_roze: #e85e71;
$ugent_hemelsblauw: #8bbee8;
$ugent_lichtgroen: #aeb050;
$ugent_paars: #825491;
$ugent_warmoranje: #fb7e3a;
$ugent_turquoise: #27abad;
$ugent_lichtpaars: #be5190;
$ugent_groen: #71a860;

h1,
h2,
h3,
div,
body,
html {
  margin: 0;
  padding: 0;
}

.invite {
  width: 19cm;
  height: 12.8cm;
}
