doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Algorithms for time-independent Schrödinger equations - Defence invite
    link(rel="stylesheet", href="style.scss")
  body
    .invite-container
      #invite.invite
        h1.title Algorithms for time-independent Schrödinger equations
        .detailed-info
          p.date June 30#[span.sup th] 2023, 16:00
          p.location 
            a(href="https://www.google.be/maps/place/51%C2%B001'22.6%22N+3%C2%B042'39.1%22E" rel="noreferrer") Gent, Campus Sterre
            br
            | Gebouw S9, auditorium A2
        .description
          p
            | With much pleasure I invite you to my PhD defence, followed by a reception.
          p
            | To help me estimate the number of attendees,
            | please register at #[a(href="https://toonijn.be/thesis/register") toonijn.be/thesis/register]
          p.author Toon Baeyens
        .affiliation
          p.department Department of Applied Mathematics,<br />Computer Science and Statistics
          p.faculty Faculty of Sciences
        img.logo(src="../assets/logo_ugent.png")

