@use "../base.scss" as ugent;


$width: 19cm;
$height: 12.8cm;
$title-left: 0.15 * $width;
$padding: 0.05 * $width;

@page {
  size: A5 landscape;
  margin: 0;
}

* {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
div,
body,
html {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

.invite-container {
  &,
  body,
  html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  background-color: #dddddd;
}

.invite {
  --scale: 1;
  @media print {
    --scale: 1 !important;
    margin: 0 !important;
  }
  width: $width;
  height: $height;
  position: relative;
  font-size: 3.9mm;
  transform: scale(var(--scale));
  margin: calc(50vh - $height / 2) auto;
  background-color: white;
  padding-top: calc(0.02 * $width);
  font-family: "CMU Serif", serif;

  h1 {
    position: relative;
    background-image: url("../assets/invite_background.svg");
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    width: $width;
    padding: 0 0 0 0;
    padding: calc(0.17 * $width) calc(0.25 * $width) 0 $title-left;
    font-size: 2em;
    text-align: left;
    font-family: "CMU Sans-Serif", sans-serif;
    color: ugent.$aqua;
  }

  .affiliation {
    display: none;
    text-align: right;
    position: absolute;
    width: 8 * $padding;
    right: $padding;
    bottom: $padding;

    p.department {
      font-size: 0.8em;
      margin-bottom: 0.5em;
    }
    p.faculty {
      font-size: 0.9em;
    }
  }

  $description-width: calc(0.6 * ($width - $padding));

  .detailed-info {
    float: right;
    padding: $padding $padding 0 0;
    width: $width - $description-width - $padding;
    text-align: right;

    .date {
      margin-bottom: 1em;
    }

    .sup {
      display: inline-block;
      position: relative;
      top: -0.5em;
      font-size: 0.7em;
    }
  }

  .description {
    padding: $padding 0 0 $title-left;
    text-align: left;
    width: $description-width;

    p {
      margin-bottom: 0.5em;
    }

    .hope-to-see-you {
      text-align: right;
      margin-bottom: 0;
    }

    .author {
      font-size: 1.2em;
      text-align: right;
    }
  }

  .logo {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc($padding * 5);
  }

  .logo-faculteit {
    display: block;
    position: absolute;
    // left: calc($padding * 5);
    right: 0;
    bottom: 0;
    height: calc($padding * 3);
  }

  a {
    text-decoration: none;
    color: ugent.$blauw;

    &:hover {
      text-decoration: underline;
    }
  }
}
