section
  section#de-background
    .flex-slide
      h2 Some mathematical background

      .flex-slide-fill.igrid
        .igrid-column
          .igrid-item
            h4 numbers
            | $$ \mathbb{N}, \mathbb{Q}, \mathbb{R}, \mathbb{C} $$
          .igrid-item
            h4 vectors
            | $$ \mathbf{v} = \begin{pmatrix} v_x \\ v_y \end{pmatrix} \in \mathbb{R}^2 $$
        .igrid-column
          .igrid-item
            h4 scalar functions
            | $$ f : \mathbb{R}^n \to \mathbb{R} $$
            | $$ f(x, y) = x^2 + y^2 $$
          .igrid-item
            h4 vector functions
            | $$ \mathbf{f} : \mathbb{R}^n \to \mathbb{R}^m $$
            | $$ \mathbf{f}(x, y) = \begin{pmatrix} x + y \\ y - x \end{pmatrix} $$
  section#de-definition
    .flex-slide
      h2 Differential equations 
      p Maybe something more about derivatives

  section
    h2 Time-independent Schrödinger equations

    p
      | Find eigenvalue $E \in \mathbb{R}$ with eigenfunction $\psi : \Omega \rightarrow \mathbb{R}$ such that
      | $$ -\nabla^2 \psi + V(\mathbf{x})\psi = E \psi \quad \forall \mathbf{x} \in \Omega\text{,} $$
      | with $\Omega \subseteq \mathbb{R}^n$ and $\psi(\mathbf{x}) = 0, \forall \mathbf{x} \in \partial\Omega$.

    aside.notes
      p Een klein beetje achtergrond over de geschiedenis
      ul
        li 
