section
  section.title-slide
    h2 Internal defence
    h1 Algorithms for time-independent <br /> Schrödinger equations

    img.logo(src="./assets/logo_ugent.png", alt="")
    .info
      .author Toon Baeyens
      .promotor
        | prof. dr. Marnix Van Daele
        br
        | prof. dr. Joris Van der Jeugt

  

  section
    h2 Time-independent Schrödinger equations

    p
      | Find eigenvalue $E \in \mathbb{R}$ with eigenfunction $\psi : \Omega \rightarrow \mathbb{R}$ such that
      | $$ -\nabla^2 \psi + V(\mathbf{x})\psi = E \psi \quad \forall \mathbf{x} \in \Omega\text{,} $$
      | with $\Omega \subseteq \mathbb{R}^n$ and $\psi(\mathbf{x}) = 0, \forall \mathbf{x} \in \partial\Omega$. 

    aside.notes
      p Een klein beetje achtergrond over de geschiedenis
      ul 
        li 