section
  section
    h2 Sturm-Lioville equations
    p Find values for $E$ and $f : [a, b] \to \mathbb{R}$ such that
    | $$ - \frac{\text{d}}{\text{d} x}\left(p(x) \frac{\text{d}f}{\text{d} x}\right) + q(x) f(x) = E w(x) f(x) $$
    p with boundary conditions.
    br
    h3 Time-independent Schrödinger equations
    | $$ - \frac{\text{d}^2 f}{\text{d} x^2} + V(x) f(x) = E f(x) $$

    aside.notes
      ul
        // https://www.maths.ed.ac.uk/~v1ranick/papers/lutzen.pdf
        li Sturm en Liovuille
          ul
            li Zwitsers-geboren en Fransman (respectievelijk)
            li Vrienden vanaf 1830 in Parijs
            li Sturm-Liouville theorie
            li Warmte door een metalenstaaf, en trilling ketting
        li Schrödinger
          ul
            li Oostenrijk
            li 1933 nobelprijs
  section
    h2 Vibrating string

    p
      | As differential equation: $\, \displaystyle \frac{\partial^2 y}{\partial t^2} = \frac{\partial^2 y}{\partial x^2}\, $ with $y(0) = 0$ and $y(1) = 0$.

    p.fragment We can write
      | $$ y(t, x) = \sum_{i=1}^\infty y_i(x) \sin\left(\sqrt{E_i} t\right) $$
      | with $\, \displaystyle -\frac{\text{d}^2 y_i}{\text{d} x^2} = E_i y_i(x)\, $ and $y_i(0) = y_i(1) = 0$.
    aside.notes
      ul
        li Zeer technisch, volhouden
