section
  section
    h2 Sturm-Lioville equations
    p Find values for $E$ and $f : [a, b] \to \mathbb{R}$ such that
    | $$ - \frac{\text{d}}{\text{d} x}\left(p(x) \frac{\text{d}f}{\text{d} x}\right) + q(x) f(x) = E w(x) f(x) $$
    p with boundary conditions.
    br
    h3 Time-independent Schrödinger equations
    | $$ - \frac{\text{d}^2 f}{\text{d} x^2} + V(x) f(x) = E f(x) $$

    aside.notes
      p Een klein beetje achtergrond over de geschiedenis
