section
  section(data-animation="schrodinger2d")
    h2 Schrödinger equations

    .now-in-2d Now in 2D!

    p(style="color: red") To do: display a simple eigenfunction to explain graphs and colors

    p Find values for $E$ and $f : \Omega \to \mathbb{R}$ such that
    p $$ - \nabla^2 f(x, y) + V(x, y) f(x, y) = E f(x, y) $$
    p on $\Omega \subseteq \mathbb{R}^2$ with boundary conditions.

  section(data-animation="vibrating-drum")
    p Test