section
  section(data-animation="schrodinger2d")
    h2 Schrödinger equations

    .now-in-2d Now in 2D!

    p(style="margin-top: 100px") Find values for $E$ and $f : \Omega \to \mathbb{R}$ such that
    p $$ - \nabla^2 f(x, y) + V(x, y) f(x, y) = E f(x, y) $$
    p on $\Omega \subseteq \mathbb{R}^2$ with boundary conditions.

    aside.notes
      p Beschrijft de waarschijnlijkheid om een deetje op een plek te vinden
      p Het domein maakt de dingen moeilijker (vorm? begrensd? randvoorwaarden? samenhangend?)

  section(data-animation="vibrating-drum")
    h2 Vibrating drum

    p
      | As a PDE on the unit disc with Dirichlet boundary conditions
      | $$ \frac{\partial^2 f}{\partial t^2} = \nabla^2 f(t, x, y) $$

    p.fragment(data-animation="vibrating-drum-states")
      | We can write
      | $$ f(t, x, y) = \sum_{i=0}^\infty f_i(x, y) \sin\left(\sqrt{E_i} t\right) $$
      | with $\, \displaystyle -\nabla^2 f_i(x, y) = E_i f_i(x, y)\, $.

  section(data-animation="fft-drum")
    .flex-slide
      h2 Vibrating drum

      p $$ f(t, x, y) = \sum_{i=0}^\infty f_i(x, y) \sin\left(\sqrt{E_i} t\right) $$
      p(style="margin-top: -20px") with $\, -\nabla^2 f_i(x, y) = E_i f_i(x, y)\, $.

      .flex-slide-fill.igrid(style="grid-template-columns: 1fr")
        div(
          style="display: flex; flex-flow: row nowrap; justify-content: space-evenly"
        )
          div $$ E_{0} \approx 5.78 $$
          div $$ E_{1} = E_{2} \approx 14.68 $$
          div $$ E_{3} = E_{4} \approx 26.37 $$
        div(
          style="display: flex; flex-flow: row nowrap; justify-content: space-evenly"
        )
          div $$ E_{5} \approx 30.47 $$
          div $$ E_{6} = E_{7} \approx 40.71 $$
          div $$ E_{8} = E_{9} \approx 49.22 $$

        div(
          style="display: flex; flex-flow: row nowrap; justify-content: space-evenly"
        )
          div $$ E_{10} = E_{11} \approx 57.58 $$
          div $$ E_{12} = E_{13} \approx 70.85 $$
          div $$ \dots $$

  section(data-animation="tennis-racket")
    .flex-slide
      h2 Finding 2D eigenfunctions
      div(style="display: grid; grid-template-columns: 1fr 1fr")
        p Horizontal:
          | $$ f(x, y_j) = \sum_{k=0}^\infty c_k^{(y_j)} \beta_k^{(y_j)}(x) $$
        p Vertical:
          | $$ f(x_i, y) = \sum_{k=0}^\infty c_k^{(x_i)} \beta_k^{(x_i)}(y) $$
      div(style="margin-top: -30px")
        | $$ -\frac{\text{d}^2\,\beta_k^{(y_j)}}{\text{d}x^2} + \frac{V(x, y_j)}{2} \beta_k^{(y_j)} = \lambda_k^{(y_j)} \beta_k $$
      .fragment(data-animation="beta-matrices")
        p If these sums are finite, this yields a matrix-problem:
          | $$ \mathbf{B_x} \mathbf{\Lambda_x}\mathbf{c_x} + \mathbf{B_y} \mathbf{\Lambda_y}\mathbf{c_y} = E \mathbf{B_x} \mathbf{c_x} = E \mathbf{B_y} \mathbf{c_y}\text{.} $$

  section(data-animation="strands-features")
    .flex-slide
      h2 Strands

      p Features:
      ul
        li Dirichlet boundary conditions
        li accurate eigenvalues
        li relatively fast evaluation of eigenfunctions <strong>(new)</strong>
        li general (non-rectangular) domains <strong>(new)</strong>
        li 3D problems <strong>(future work)</strong>
