section
  section#parallelization
    h2 Parallelization
    a.prepared-answers(href="#/prepared-answers")
    ul
      li All operations are thread-safe
      li
        a(href="#/par-matslise") Matslise 3.0
      li
        a(href="#/par-matslise2d") Matslise2D
      li
        a(href="#/par-strands") Strands
    .r-stretch

  section#par-matslise
    h3 Parallelization - Matslise 3.0
    ul
      li SIMD use is limited
      li Relatively few computations per sector, relatively few sectors
      li Per guess for an eigenvalue or per requested eigenvalue
        ul
          li CPU straigthforward
          li GPU possible? But useful?

  section#par-matslise2d
    h3 Parallelization - Matslise2D
    ul
      li SIMD already extensively used in Eigen
      li CPU-parallelization per sector  (already experimented with)
        ul
          li Automatic sector size is limiting -> some workarounds
      li Per eigenvalue-guess
        ul
          li CPU straigthforward
          li GPU possible? But useful?

  section#par-strands
    h3 Parallelization - Strands
    ul
      li Per grid line CPU-parallelize (already experimented with)
      li Sparse eigenvalue solver
        ul
          li At the moment we are using a single-threaded implementation (with heavy use of SIMD)
          li Parallelized libraries exists
            ul
              li CPU and HPC (e.g. SLEPc)
              li Even GPU implementations available
