section
  h2 Prepared answers
  ul
    li
      a(href="#/matslise2d-bug") Bug in Matslise2D
    li
      a(href="#/parallelization") Parallelization
    li
      a(href="#/future-work") Future work

include matslise2d_bug.pug

include parallelization.pug

include future_work.pug
