@use "../base.scss" as ugent;

// Default variable overrides
$body-bg: ugent.$wit;
$body-color: ugent.$zwart;

$primary: ugent.$blauw;
$danger: ugent.$rood;
$secondary: ugent.$geel;

@import "../../node_modules/bootstrap/scss/bootstrap";

$width: calc(min(90vw, 800px));

a {
  color: ugent.$blauw;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.register-container {
  overflow: hidden;
  width: 100%;
  .register {
    position: relative;
    max-width: $width;
    margin: 0 auto;
    padding-top: calc(0.17 * $width);

    background-image: url("../assets/invite_background.svg");
    background-size: 100% auto;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: ugent.$wit;
    font-family: "CMU Serif", serif;
    font-size: 1.1em;

    &:before {
      $left-shift: calc(0.5 * (100vw - $width));

      position: absolute;
      content: " ";
      display: block;
      height: calc(0.25 * $width);
      width: 100vw;
      top: 0;
      left: calc(-1 * $left-shift);
      z-index: -1;

      background-image: url("../assets/invite_background.svg");
      background-size: $width auto;
      background-position: $left-shift 0;
      background-repeat: repeat-x;
      opacity: 0.5;
    }

    .description {
      .hope-to-see-you {
        text-align: right;
        margin-bottom: 0;
      }

      .author {
        text-align: right;
        font-size: 1.1em;
      }
    }

    .sup {
      display: inline-block;
      position: relative;
      top: -0.5em;
      font-size: 0.7em;
    }

    .register-form {
      margin-top: 1em;

      .register-error {
        display: none;
      }
    }

    h1 {
      font-size: 2em;
      color: ugent.$aqua;
      font-family: "CMU Sans-Serif", sans-serif;
      padding: 0 calc(0.2 * $width) 1em calc(0.15 * $width);
    }

    .affiliation {
      $padding: calc(0.05 * $width);

      .logo {
        display: block;
        width: calc(5 * $padding);
        margin: 0 0 0 calc(-1 * $padding);
      }
      .logo-faculteit {
        display: block;
        height: calc(3 * $padding);
        margin: 0 calc(-1 * $padding) 0 0;
        float: right;
      }

      .affilation-details {
        padding: $padding 0 $padding 0;
        text-align: right;

        .department {
          font-size: 0.9em;
        }

        .faculty {
          font-size: 1em;
          margin: 0;
        }
      }
    }

    .register-success {
      display: none;

      text-align: center;
      padding: 1em 0;
    }

    &.register-is-success {
      .register-form {
        display: none;
      }

      .register-success {
        display: block;
      }
    }

    &.register-has-error {
      .register-form {
        .register-error {
          display: block;
        }
      }
    }
  }
}
