section
  section.title-slide
    h2 Internal defence
    h1 Algorithms for time-independent <br /> Schrödinger equations

    img.logo(src="./assets/logo_ugent.png", alt="")
    .info
      .author Toon Baeyens
      .promotor
        | prof. dr. Marnix Van Daele
        br
        | prof. dr. Joris Van der Jeugt

  section
    h2 Wave equations and things like that:

    p
      | $$ \frac{\partial^2 u}{\partial t^2} = c^2 \frac{\partial^2 u}{\partial x^2} $$
    
    p 
      | $$ -\nabla^2 \psi + V(x,y)\psi = E \psi $$
      | $$ -\frac{\partial^2 \psi}{\partial x^2} - \frac{\partial^2 \psi}{\partial y^2} + V(x,y)\psi = E \psi $$
